<div class="container">
  <h1>Hello, Rails!</h1>
  <p>This site main porpouse is to improve and showcase my Ruby on Rails skills. Site will contounisly change as I learn and develop my understanding of this framework.</p>
  <h2>Contact:</h2>
  <ul class="list-unstyled">
    <li><span><%= fa_icon("user") %></span> Łukasz Nosal</li>
    <li><span><%= fa_icon("at") %></span> <a href="mailto:lukasz.nosal@protonmail.com">Lukasz.nosal@protonmail.com</a></li>
    <li><span><%= fa_icon("linkedin") %></span> <a href="https://linkedin.com/in/lukasz-nosal/">Linkedin</a></li>
    <li><span><%= fa_icon("github") %></span> <a href="https://github.com/Vyroll">Github</a></li>
  </ul>
</div>
