html, body {
  height: 100%;
}

body {
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer-bottom {
  flex-shrink: 0;
}

@import "/*";
@import "bootstrap";
@import "font-awesome";
